.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $width-card);
  width: $width-catalog;
  padding: $vertical-gap $side-pading-catalog;
  row-gap: $vertical-gap;
  column-gap: $gap-card;
}
