.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: $width-catalog;
  padding: 50px $side-pading-catalog;
  gap: $gap-card;

  &__card {
    margin-bottom: 50px;
  }
}
